@import url('reset.css');

.section {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    margin: 50px auto 0;
    padding: 10px 20px;
    background: #860000;
    border: 1px solid black;
    color: #fff;
    margin-bottom: 20px;
}